.container {
  position: relative;
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &.loading {

  }
}

.spinnerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: currentColor;
  }
}

.asNative {
  &.loading {
    color: transparent;
  }
  .spinnerContainer {
    background-color: transparent;
  }
}
