.container {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  outline: 0px;
  transition: all 0.2s ease 0s;
  opacity: 0.9;

  &:not(.native) {
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
  }

  &:hover, &:focus, &:active {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &.solid {
    background-color: var(--action-color);
    color: var(--ink-primary);
    border-color: var(--action-color);
  }

  &.native {
    svg {
      fill: var(--action-color);
    }
  }

  &.outlined {
    background-color: transparent;
    color: var(--ink-primary);
    border-color: var(--action-color);
  }
  &.ghost {
    background-color: transparent;
    color: var(--ink-primary);
    border-color: transparent;

    &:hover, &:focus, &:active {
      background-color: var(--action-color);
      color: var(--ink-primary);
      border-color: transparent;
    }
  }

  .centeringSpan {
    flex: 1;
  }
}
