.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    color: currentColor;
  }
  input[type="radio"]:checked+label {
    font-weight: bold;
  }
  .radio {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
