.newContainer {
  .subHeader {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  input, select {
    font-size: 16px;
  }

  .inputRoot {
    width: 100%;
  }

  .submitButton {
    margin-top: 16px;
  }
}
