.newContainer {
  .subHeader {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
  }

  *:not(input):not(select):not(textarea):not(button) {
    color: var(--ink-dark);
  }

  input, select {
    height: var(--input-height-l);
    font-size: 16px !important;
  }

  .inputRoot {
    width: 100%;
  }

  .submitButton {
    margin-top: var(--spacing-s);
  }

  label {
    font-weight: 600 !important;
    font-size: 14px !important;
    & > span {
      font-weight: 600 !important;
      font-size: 14px !important;
    }
  }
}
